<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Términos y Condiciones de Uso de Datos

Por favor, lee detenidamente estos términos y condiciones de uso de datos antes de usar nuestros servicios. Al utilizar nuestros servicios, aceptas estos términos y condiciones.

Uso de Datos Personales
Recopilación de Datos: Recopilamos datos personales como parte de nuestro proceso de registro y para proporcionar nuestros servicios. Esto puede incluir tu nombre, dirección de correo electrónico, número de teléfono, dirección postal, detalles de pago y otros datos relevantes.
<br> <br>
Propósito: Los datos personales que recopilamos se utilizan para facilitar y mejorar nuestros servicios, procesar transacciones, personalizar tu experiencia, y para fines de comunicación y marketing.
<br> <br>
Protección de Datos: Nos comprometemos a proteger la privacidad de tus datos personales. Implementamos medidas de seguridad razonables para proteger los datos contra acceso no autorizado, alteración, divulgación o destrucción.
Compartir Datos: No compartimos tus datos personales con terceros sin tu consentimiento explícito, excepto en circunstancias específicas como cumplir con la ley, proteger nuestros derechos, o en el contexto de una transacción comercial.
Acceso a los Datos: Tienes el derecho de acceder, corregir o eliminar tus datos personales almacenados en nuestra base de datos. Si deseas ejercer este derecho, comunícate con nosotros.
<br> <br>
Retención de Datos: Retenemos tus datos personales solo durante el tiempo que sea necesario para los fines descritos en estos términos y condiciones, o para cumplir con las leyes aplicables.
Consentimiento: Al aceptar estos términos y condiciones, consientes en el uso de tus datos personales según lo establecido en esta política.
<br> <br>
Cambios en la Política: Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios serán efectivos inmediatamente después de su publicación en nuestro sitio web.
<br> <br>
Uso de Servicios
Responsabilidad: Eres responsable de todas las actividades que se realicen a través de tu cuenta y de mantener la confidencialidad de tu información de inicio de sesión.
<br> <br>
Prohibiciones: No puedes usar nuestros servicios para actividades ilegales, fraudulentas, maliciosas o perjudiciales para otros usuarios o para nuestros servicios.
<br>
Limitación de Responsabilidad: No nos hacemos responsables de daños indirectos, incidentales, punitivos o consecuentes derivados del uso de nuestros servicios.
<br> <br>
Terminación: Nos reservamos el derecho de suspender o cancelar tu cuenta en cualquier momento si incumples estos términos y condiciones.
Contacto
Si tienes preguntas o inquietudes sobre estos términos y condiciones de uso de datos, no dudes en contactarnos a través de la información proporcionada en nuestro sitio web.
<br> <br>

</body>
</html>